body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 1;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
  }

h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
   
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;

}

.top-container{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 50px;
    
}

#first-cloud{
    
    padding-left: 600px;
    
}

#second-cloud{
padding-bottom:200px ;
}

.middle-container{
    background-color:#f7e8f0;
}


#profile-photo{
    width:200px;
    height:200px;
   
}

hr{
    border-top: 8px dotted grey;
    width: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}


.coding-img{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;

}

.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#f7e8f0;
   /* background-color: #f5c3bc;*/
   
}
.btn{
    color: rgb(32, 5, 75);
    text-decoration: none;
}

.bottom-container{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: lightgrey;

   
}

#tagline{
    font-family: 'Baloo 2', cursive;
}

.footer-link{
color: blue;
padding-left: 150px;
padding-right: 150px;
text-decoration: none;
}

.end-logos{
    border-radius: 5px;
    padding: 10px auto 0 5px;
    width: 20px;
}

.end-line{
    padding-top: 10px;
}

